<!doctype html>
<html>
<head>
  <title>The Game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <form action="/madlib">
      Enter in the following:
    <div>
      <label for="person">Person:</label>
        <input type="text" id="person" name="person" required minlength="4" maxlength="10" size="12" />
    </div>
    <div>
      <label for="colors">Color:</label>
      <select name="colors">
        <option id="green" value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
      </select>
    </div>
    <div>
        <label for="noun">Noun:</label>
            <input type="text" id="noun" name="noun" required minlength="2" maxlength="40" size="12" />
    </div>
    <div>
        <label for="noun">Adjective:</label>
            <input type="text" id="adjective" name="adjective" required minlength="2" maxlength="40" size="12" />
    </div>
        <button type="submit">Submit</button>

    </form>
</body>
</html>
